* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 10px;
    text-align: center;
    background-color: #e3f2fd;
    color: black;
    font-size: 10px;
}

#container {
    background-color: lightgrey;
    width: 100%;
    height: 200px;

}

.d-flex {
    padding-top: 20px;
    padding-left: 40%;
}

#silder {
    width: 20%;
    margin-left: 39%;
}

#movielist {
    width: 70%;
    margin-left: 15%;
}

.card-text {
    position: absolute;
    cursor: pointer;
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 1rem;
    overflow: hidden;
    max-height: 100%;
    transform: translateY(101%);
    transition: 0.3s ease-in;

}

.card:hover .card-text {
    transform: translateY(0);
    display: block;

}